Repository limardo/avvocatoluisaparrotta.it: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

chore(release): 1.5.0
  .version
  CHANGELOG.md
  package.json
Due: prettier --write

fix: updated cookiehub plugin
  cookiehub/gatsby-browser.js
Due: prettier --write, stylelint --fix, eslint --fix

chore(release): 1.5.1
  .version
  CHANGELOG.md
  package.json
Due: prettier --write

fix: changed cookiehub plugin
  cookiehub/gatsby-browser.js
Due: prettier --write, stylelint --fix, eslint --fix

chore(release): 1.5.2
  .version
  CHANGELOG.md
  package.json
Due: prettier --write

fix: updated cookiehub config
  cookiehub/gatsby-browser.js
  gatsby-config.js
Due: prettier --write, stylelint --fix, eslint --fix

chore(release): 1.5.3
  .version
  CHANGELOG.md
  package.json
Due: prettier --write

fix: cookiehub
  cookiehub/gatsby-browser.js
  cookiehub/gatsby-ssr.js
  gatsby-config.js
  package-lock.json
Due: prettier --write, stylelint --fix, eslint --fix

chore(release): 1.5.4
  .version
  CHANGELOG.md
  package.json
Due: prettier --write

fix: added cookiehub id in ci
  .github/workflows/build-deploy.yml
  cookiehub/gatsby-ssr.js
Due: prettier --write, stylelint --fix, eslint --fix

chore(release): 1.5.5
  .version
  CHANGELOG.md
  package.json
Due: prettier --write

fix: updated csp directives
  cookiehub/gatsby-browser.js
  cookiehub/gatsby-ssr.js
  gatsby-config.js
Due: prettier --write, stylelint --fix, eslint --fix

chore(release): 1.5.6
  .version
  CHANGELOG.md
  package.json
Due: prettier --write

fix: revert csp directives
  gatsby-config.js
Due: prettier --write, stylelint --fix, eslint --fix

chore(release): 1.5.7
  .version
  CHANGELOG.md
  package.json
Due: prettier --write

fix: removed csp
  gatsby-config.js
Due: prettier --write, stylelint --fix, eslint --fix

chore(release): 1.5.8
  .version
  CHANGELOG.md
  package.json
Due: prettier --write

feat: upgraded gatsbyjs and deps
  .nvmrc
  .stylelintrc
  composer.json
  composer.lock
  package-lock.json
  package.json
  schema.graphql
  src/components/About.tsx
  src/components/Accordion.tsx
  src/components/FeatureBox.tsx
  src/components/Link.tsx
  src/components/MainMenu.tsx
  src/components/PracticeAreaBox.tsx
  src/components/Topbar.tsx
Due: prettier --write, stylelint --fix, eslint --fix

chore(release): 1.5.9
  .version
  CHANGELOG.md
  package.json
Due: prettier --write

fix: regenereted composer.lock
  composer.json
  composer.lock
Due: prettier --write

chore(release): 1.5.10
  .version
  CHANGELOG.md
  package.json
Due: prettier --write

fix: updated node version on github actions
  .github/workflows/build-deploy.yml
  .github/workflows/release.yml
Due: none

chore(release): 1.5.11
  .version
  CHANGELOG.md
  package.json
Due: prettier --write

fix: updated preload z-index
  src/components/Preload.tsx
Due: prettier --write, stylelint --fix, eslint --fix

chore(release): 1.5.12
  .version
  CHANGELOG.md
  package.json
Due: prettier --write

feat: added animation to header and footer
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Topbar.tsx
Due: prettier --write, stylelint --fix, eslint --fix

chore(release): 1.6.0
  .version
  CHANGELOG.md
  package.json
Due: prettier --write

fix: updated images
  .gitignore
  gatsby-config.js
  package-lock.json
  package.json
  performance.mjs
  src/components/About.tsx
  src/components/Footer.tsx
  src/components/Home.tsx
  src/components/Logo.tsx
Due: prettier --write, stylelint --fix, eslint --fix

chore(release): 1.6.1
  .version
  CHANGELOG.md
  package.json
Due: prettier --write

fix: added eager attribute to image
  src/components/Footer.tsx
  src/components/Home.tsx
  src/components/Logo.tsx
Due: prettier --write, stylelint --fix, eslint --fix

chore(release): 1.6.2
  .version
  CHANGELOG.md
  package.json
Due: prettier --write

feat: updated commercial info
  gatsby-config.js
  src/components/Footer.tsx
Due: prettier --write, stylelint --fix, eslint --fix

chore(release): 1.7.0
  .version
  CHANGELOG.md
  package.json
Due: prettier --write

Update about.mdx
  contents/about.mdx
Due: prettier --write

chore(release): 1.7.1
  .version
  CHANGELOG.md
  package.json
Due: prettier --write

feat: updated cookiehub script
  cookiehub/gatsby-browser.js
Due: prettier --write, stylelint --fix, eslint --fix

chore(release): 1.8.0
  .version
  CHANGELOG.md
  package.json
Due: prettier --write

fix: removed DOMContentLoaded event in cookiehub script
  cookiehub/gatsby-browser.js
  gatsby-config.js
Due: prettier --write, stylelint --fix, eslint --fix

chore(release): 1.8.1
  .version
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json,html,css,scss,md,mdx}
  stylelint --fix: any of: *.{js,jsx,ts,tsx,html,css,scss}
  eslint --fix: any of: *.{js,jsx,ts,tsx,html}
