Repository limardo/avvocatoluisaparrotta.it: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,json,html,css,scss,md,mdx}": [
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx,html,css,scss}": [
    "stylelint --fix"
  ],
  "*.{js,jsx,ts,tsx,html}": [
    "eslint --fix"
  ]
}

chore: updated ci
  .github/workflows/build-deploy.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  .version
  .versionrc
  CHANGELOG.md
  package-lock.json
Due: prettier --write

chore: added automatic release
  .github/workflows/release.yml
Due: none

chore(release): 1.0.0
  CHANGELOG.md
Due: prettier --write

chore: added automatic release
  .github/workflows/build-deploy.yml
  .github/workflows/release.yml
Due: none

feat: added scripts
  .github/workflows/build-deploy.yml
  .gitignore
  composer.json
  composer.lock
  contents/about.mdx
  contents/contact.mdx
  contents/faq.mdx
  contents/index.mdx
  contents/practice-areas.mdx
  gatsby-config.js
  package-lock.json
  package.json
  schema.graphql
  scripts/.htaccess
  scripts/Config.php
  scripts/Contacts.php
  scripts/ErrorHandler.php
  scripts/JsonMiddleware.php
  scripts/Mailer.php
  scripts/Newsletter.php
  scripts/index.php
  src/components/Contact.tsx
  src/components/Footer.tsx
  src/components/MainMenu.tsx
  src/components/Recaptcha.tsx
  src/hooks/useRecaptcha.tsx
  src/pages/index.tsx
  src/wrap-page-element.tsx
Due: prettier --write, stylelint --fix, eslint --fix

feat: added home image and changed position back to top
  .github/workflows/build-deploy.yml
  .github/workflows/release.yml
  .gitignore
  composer.json
  composer.lock
  contents/about.mdx
  gatsby-config.js
  scripts/.env
  scripts/Config.php
  src/components/BackToTop.tsx
  src/components/Home.tsx
  src/images/backgrounds/home.jpeg
Due: prettier --write, stylelint --fix, eslint --fix

chore(release): 1.1.0
  .version
  CHANGELOG.md
  package.json
Due: prettier --write

fix: solved critical bugs
  gatsby-browser.js
  gatsby-config.js
  src/components/BackToTop.tsx
  src/components/GlobalStyle.tsx
  src/components/Header.tsx
  src/components/Layout.tsx
  src/components/Logo.tsx
  src/components/MainMenu.tsx
  src/components/PracticeAreas.tsx
  src/components/Preload.tsx
Due: prettier --write, stylelint --fix, eslint --fix

chore(release): 1.1.1
  .version
  CHANGELOG.md
  package.json
Due: prettier --write

fix: solved major bugs
  .github/workflows/build-deploy.yml
  gatsby-config.js
  schema.graphql
  scripts/.env
  src/components/Recaptcha.tsx
  src/components/Seo.tsx
Due: prettier --write, stylelint --fix, eslint --fix

chore(release): 1.1.2
  .version
  CHANGELOG.md
  package.json
Due: prettier --write

fix: solved ci bugs
  .github/workflows/build-deploy.yml
  scripts/.env
Due: none

chore(release): 1.1.3
  .version
  CHANGELOG.md
  package.json
Due: prettier --write

fix: converted images to webp
  src/components/About.tsx
  src/components/Home.tsx
  src/custom.d.ts
  src/images/backgrounds/9.jpg
  src/images/backgrounds/9.webp
  src/images/backgrounds/home.jpeg
  src/images/backgrounds/home.webp
  src/images/misc/d1.jpg
  src/images/misc/d1.webp
  src/images/misc/d2.jpg
  src/images/misc/d2.webp
Due: prettier --write, stylelint --fix, eslint --fix

chore(release): 1.1.4
  .version
  CHANGELOG.md
  package.json
Due: prettier --write

feat: added apache config
  .htaccess
Due: none

chore(release): 1.2.0
  .version
  CHANGELOG.md
  package.json
Due: prettier --write

fix: updated apache rules
  .htaccess
Due: none

chore(release): 1.2.1
  .version
  CHANGELOG.md
  package.json
Due: prettier --write

feat: added loadable component page
  package-lock.json
  package.json
  src/components/About.tsx
  src/components/Contact.tsx
  src/components/Faq.tsx
  src/components/Home.tsx
  src/components/MainMenu.tsx
  src/components/PracticeAreas.tsx
  src/pages/index.tsx
Due: prettier --write, stylelint --fix, eslint --fix
